---
import { placeholder } from "./data.json";

const { title, description } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="author" content="Kellyson Dias" />
  <meta name="description" content={description ?? placeholder.description} />
  <link rel="icon" type="image/svg+xml" href="../../../public/favicon.svg" />
  <title>{title ? `Adopet | ${title}` : placeholder.title}</title>
</head>
