---
import Head from "../head/index.astro";
import Header from "../../components/header.component/index.astro";
import Footer from "../../components/footer.component/index.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <Head {title} />
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
