---
import Head from "../head/index.astro";
import Header from "../../components/header.component/index.astro";
import Footer from "../../components/footer.component/index.astro";

interface Props {
  title?: string;
  description?: string;
  background: `bg-${string}`;
}

const { title, background } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <Head {title} />
  <body class=`${background} font-poppins` >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
