---
import { Input } from "./input.component";

interface Props {
  id: string;
  name: string;
  type: string;
  index: number;
  style?: "sign-up" | "sign-in" | "profile";
  placeholder: string;
}

const { id, name, type, index, style = "sign-up", placeholder } = Astro.props;

const is = {
  firstInput: index === 0,
  profileForm: style === "profile",
  passwordInput: type === "password",
};
---

<div class="flex justify-center items-center flex-col">
  <h3
    class=`${is.firstInput ? "mt-0" : "mt-5"} mb-1 text-[#737380] text-base tablet:text-lg desktop:font-semibold`
  >
    {name}
  </h3>

  <div
    class=`relative flex justify-center items-center text-[#737380] w-5/6 tablet:w-3/6 ${!is.profileForm && is.passwordInput ? "desktop:w-2/6" : ""}`
  >
    <Input {id} {placeholder} initialType={type} client:load />
  </div>
</div>
