---
import { Icon } from "astro-icon/components";
import data from "../../data/header.data/index.json";
import { Image } from "astro:assets";

const { link, icon, profilePicture } = data.user;
---

<div>
  <a href={link}
    >{
      profilePicture?.url ? (
        <Image src={profilePicture.url} alt={profilePicture.alt} />
      ) : (
        <Icon name={icon} class:list={"bg-blue-100"} />
      )
    }</a
  >
</div>
<!--  class:list={`${icon === user.icon && "absolute right-0 top-0"}`}->-->
