---
import { Icon } from "astro-icon/components";
import data from "../../data/header.data/index.json";
import { Image } from "astro:assets";

const { link, icon, profilePicture } = data.user;
---

<div>
  <a href={link}
    >{
      profilePicture?.url ? (
        <Image src={profilePicture.url} alt={profilePicture.alt} width={30} height={30} />
      ) : (
        <Icon name={icon} width={30} height={30} />
      )
    }</a
  >
</div>
