---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.component/index.astro";
---

<Layout title="AdoPet">
  <div class="bg-[#3772FF]">
    <Header />
  </div>
</Layout>
