---
import MainLayout from "../layouts/main-layout/index.astro";
import Logo from "../components/logo.component/index.astro";
import { heading, text, buttons } from "./data.json";
import Illustration from "../components/illustration.component/index.astro";
---

<MainLayout background="bg-initial-page-color">
  <main class="text-white mt-28 desktop:mt-0">
    <section>
      <h1 class="flex justify-center">
        <Logo
          color="#FCF0E3"
          colorAlt="Branco Antigo"
          width={186.67}
          height={46}
        />
      </h1>
      <div class="font-medium text-center flex justify-center flex-col my-6">
        <h2 class="font-ibm-plex-sans text-2xl mb-4">{heading}</h2>
        <p class="w-60 self-center tablet:w-3/6 desktop:w-80">{text}</p>
      </div>
    </section>
    <section class="flex justify-center items-center flex-col m-8">
      {
        buttons.map(({ link, text }: { link: string; text: string }) => (
          <button class="max-[330px]:w-max max-[330px]:px-2 text-base first:mb-4 bg-button rounded-md font-semibold drop-shadow-[2px_2px_4px_rgba(0,0,0,0.25)] py-2 w-[50%] hover:bg-button-hover tablet:py-3 tablet:w-[25%] tablet:text-lg">
            <a href={link}>{text}</a>
          </button>
        ))
      }
    </section>
    <Illustration />
  </main>
</MainLayout>
