---
import MainLayout from "../layouts/main-layout/index.astro";
import Logo from "../components/logo.component/index.astro";




---

<MainLayout>
  <main class="bg-[#3772FF]">
    <div class="flex justify-center">
      <Logo color="#FCF0E3" colorAlt="Branco Antigo" width={186.67} height={46} />
    </div>
  </main>
</MainLayout>
