---
import { Icon } from "astro-icon/components";
import ProfileIcon from "../profile-icon.component/index.astro";
import data from "./data.json";

const { logo, user, menu } = data;
---

<header class="bg-green-700 p-8">
  <div
    class="relative box-content bg-red-500 flex justify-start items-center buttons-center space-x-12"
  >
    <div>
      <img src={logo.url} alt={logo.alt} />
    </div>

    {
      menu.buttons.map((button: { link: string; name: string }) => (
        <a href={button.link}>
          <Icon name={button.name} />
        </a>
      ))
    }

    {user.isLoggedIn && <ProfileIcon />}
  </div>
</header>
